<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fishing.tackle.shop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FishingTackleShop">
        <activity android:name=".ui.role.RoleDetailActivity"></activity>
        <activity android:name=".ui.stapovi.StapoviDetailActivity" />
        <activity android:name=".ViewPager.DetailActivity" />
        <activity
            android:name=".ui.mamci.MamciActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.role.RoleActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.satori.SatoriActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.stapovi.StapoviActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FishingTackleShop.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>